@model Entities.Entities.Category

@{
    ViewData["Title"] = "Add";
}



<div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        
        
        @if (ViewBag.CategoryUpdateFailed != null)
        {
            <div class="alert alert-danger text-center">
                <small>@ViewBag.CategoryUpdateFailed</small>
            </div>
        }
        

        <h4 class="text-center">Kategori Ekle</h4>
        <hr />
        <form asp-action="Add" asp-controller="Category" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-block btn-primary"/>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>


